body {
    background-color: black;
}

#face-top-left {
    z-index: -1;
    top: 0%;
    left: 0%;
}

#face-bottom-right {
    z-index: -1;
    bottom: 0%;
    right: 0%;
}

@font-face {
    font-family: Dracutaz;
    src: url(Dracutaz.otf);
}
#window{
background-color: whitesmoke;
}
#windowbar{

}