body {
    background-color: black;
}

#face-top-left {
    z-index: -1;
    top: 0%;
    left: 0%;
}

#face-bottom-right {
    z-index: -1;
    bottom: 0%;
    right: 0%;
}

@font-face {
    font-family: Dracutaz;
    src: url(Dracutaz.otf);
}
#window{
    margin: auto;
    border-style: groove;
    border-radius: 4px;
    width: 400px;
    background-color: whitesmoke;
}
#windowbar{
background-color: blueviolet;
margin: auto;
width: 400px;
height: 30px;
}